html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

:root {
  --bckg-colors: #eee;
  --cont-color: #70bef4;
  --grid-size: 30px;
  --gap-size: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: "Orbitron", sans-serif;
}

/* * {
  outline: solid 1px red;
} */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: var(--bckg-colors);
  text-align: center;
  font-size: 5rem;
}

.content {
  flex: 1;
  background-color: var(--bckg-colors);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-board {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-board {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  text-align: center;
  font-size: 2rem;
}

.board {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(10, var(--grid-size));
  grid-template-rows: repeat(10, var(--grid-size));
  gap: var(--gap-size);
  padding: var(--gap-size);
  border: 2px solid black;
}

.footer {
  background-color: var(--bckg-colors);
  text-align: center;
}

.hit {
  background-color: rgb(216, 108, 108);
  content: "\f111";
}

.ship {
  background-color: rgb(113, 194, 113);
}

.shipHit {
  background-color: rgb(56, 178, 209);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: aqua;
  flex: 1;
}

.cell {
  outline: 1px solid black;
  transition: background-color 0.2s ease;
}

.cell:hover {
  outline: 2px solid aqua;
}

.hit,
.shipHit {
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

@media (max-width: 770px) {
  .content {
    flex-direction: column;
  }
  .right-board {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 2rem;
  }

  .name {
    font-size: 1rem;
  }

  :root {
    --grid-size: 20px;
  }
}
